[redis]
host=localhost
user=lmokto
port=6379
passwd=None
db=0

[mongodb]
host=localhost
user=lmokto
port=27017
passwd=None
db=None

[logger]
path='/araniapp/lib/log/'
info=False
debug=False
StreamHandler=False
FileHandler=False

[logger_extract]
class=FileHandler
level=INFO
formatter=defaultFormatter
filemode=w
args=('/var/log/myapp.log',)

[logger_main]
class=FileHandler
level=INFO
formatter=defaultFormatter
filemode=w
args=('/var/log/myapp.log',)


[extract]
debuglevel=False
enabled=False
contents_types='multipart/form-data','image/jpg','image/png','image/svg+xml','application/x-www-form-urlencoded','application/json','application/pdf','application/vnd.ms-excel','application/zip','application/postscript','application/vnd.openxmlformats-officedocument.wordprocessingml.document','application/msword', 'application/vnd.ms-excel'
